In [5]:
import pandas as pd
import sqlite3
import os
import zipfile
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.ticker import StrMethodFormatter

# ------------------------------------------------------------------------------
# Basic configuration and warning suppression
# ------------------------------------------------------------------------------
pd.set_option('display.max_columns', None)
pd.options.display.float_format = '{:.0f}'.format
warnings.simplefilter('ignore')

In [6]:
# ------------------------------------------------------------------------------
# SECTION 1: Load and Clean Budget Data
# ------------------------------------------------------------------------------
# Load the movie budgets CSV file (with compressed data) and parse dates.
budgets_df = pd.read_csv('./zippedData/tn.movie_budgets.csv.gz',
                          parse_dates=['release_date'], encoding='utf-8')
budgets_df.head(2)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,2009-12-18,Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"

In [7]:
# Extract the release year from the release_date column.
budgets_df['release_year'] = budgets_df['release_date'].dt.year

# Filter out movies released before 2000.
clean_budgets = budgets_df[budgets_df['release_year'] >= 2000]
clean_budgets.head(2)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year
0,1,2009-12-18,Avatar,"$425,000,000","$760,507,625","$2,776,345,279",2009
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875",2011